<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <%# for favicon data that browser requests by default for every new custom route that we try to access %>
  <link rel="icon" href="data:,">
</head>

<body>
